<div th:fragment="card (book)" class="card text-center">
  <img th:src="${book.image}" alt="cover" class="card-img-top" height="140" width="92" />
  <div class="card-body">
    <h3 th:text="${book.name}" class="card-title"></h3>
    <p class="card-text">
        <h3 th:text="${book.price}" class="text-warning"></h3>
    </p>
    <a th:classappend="${book.quantity == 0} ? ' disabled' : ''" href="#" class="btn btn-primary"
      ><span
        th:text="${book.quantity == 0} ? 'Currently unavailable' : 'Add to basket'"
    /></a>
  </div>
</div>
