<header th:fragment="header" class="p-3 mb-3 border-bottom">
  <div class="container-fluid">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a
        href="/"
        class="d-flex align-items-center me-lg-auto mb-2 mb-lg-0 text-dark text-decoration-none"
      >
        <img src="/resources/asserts/book.png" alt="logo" width="40" height="32" />
      </a>
      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li><a class="nav-link px-2 link-secondary" href="/">Home</a></li>
        <li><a class="nav-link px-2 link-secondary" href="/store">Store</a></li>
      </ul>
      <button class="btn btn-secondary btn-rounded d-flex align-items-center cart-btn mx-3"
      ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="" viewBox="0 0 16 16">
        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
      </svg>&nbsp;Show Cart</span
      >
      </button
    >
      <div sec:authorize="isAuthenticated()" class="dropdown text-end">
        <a
          href="#"
          class="d-block link-dark text-decoration-none dropdown-toggle"
          id="dropdownUser1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="/resources/asserts/admin.png"
            alt="admin"
            width="32"
            height="32"
            class="rounded-circle"
          />
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
          <li><h6 class="dropdown-header">Manage</h6></li>
          <li><a class="dropdown-item" href="/admin">Manage All</a></li>  
          <li><a class="dropdown-item" href="/admin/payments">payments</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <form th:action="@{/logout}" method="post">
              <input type="submit" class="dropdown-item" value="Logout" />
            </form>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
