<div
  th:replace="../fragments/modal.html :: modal(id=${'add-modal'},title=${'Add Book'},body=(~{::div.modal-body}))"
>
  <div class="modal-body">
    <form
      id="edit-form"
      action="#"
      th:action="@{/admin/addbook}"
      th:object="${book}"
      method="post"
    >
      <div class="row">
        <div class="col-12">
          <label for="name" class="col-form-label">Book Name:</label>
          <input
            required
            type="text"
            name="name"
            value=""
            class="form-control"
            id="name"
            placeholder="name"
          />
        </div>
        <div class="col-12">
          <label for="price" class="col-form-label">Price:</label>
          <input
            type="number"
            name="price"
            value=""
            class="form-control"
            id="price"
            placeholder="price"
          />
        </div>
        <div class="col-12">
          <label for="discount" class="col-form-label">Discount:</label>
          <input
            type="text"
            name="discount"
            value=""
            class="form-control"
            id="discount"
            placeholder="discount"
          />
        </div>
        <div class="col-12">
          <label for="quantity" class="col-form-label">Quantity:</label>
          <input
            type="number"
            name="quantity"
            value=""
            class="form-control"
            id="quantity"
            placeholder="quantity"
          />
        </div>
        <div class="col-12">
          <label for="image" class="col-form-label">Book Cover:</label>
          <input
            type="text"
            name="image"
            value=""
            class="form-control"
            id="image"
            placeholder="image"
          />
        </div>
      </div>
      <hr />
      <div class="col-auto text-center my-3">
        <button class="btn btn-primary" type="submit">Add</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
          Changes
        </button>
      </div>
    </form>
  </div>
</div>
