<div
  th:replace="../fragments/modal.html :: modal(id=${'update-modal'},title=${'Update Book'},body=(~{::div.modal-body}))"
>
  <div class="modal-body">
    <form
      th:action="@{/admin/update/{id}(id=${book.id})}"
      th:object="${book}"
      method="post"
      id="edit-form"
    >
      <div class="row g-3 m-3">
        <div class="col-12">
          <label for="name" class="form-label">Book Name</label>
          <input
            type="text"
            name="name"
            th:field="*{name}"
            class="form-control"
            id="name"
            placeholder="name"
          />
          <span
            th:if="${#fields.hasErrors('quantity')}"
            th:errors="*{quantity}"
            class="text-danger"
          ></span>
        </div>

        <div class="col-sm-4">
          <label for="price" class="form-label">Price:</label>
          <input
            type="text"
            name="price"
            th:field="*{price}"
            class="form-control"
            id="price"
            placeholder="price"
          />
          <span
            th:if="${#fields.hasErrors('price')}"
            th:errors="*{price}"
            class="text-danger"
          ></span>
        </div>

        <div class="col-sm-4">
          <label for="discount" class="form-label">Discount:</label>
          <input
            type="text"
            name="discount"
            th:field="*{discount}"
            class="form-control"
            id="discount"
            placeholder="discount"
          />
          <span
            th:if="${#fields.hasErrors('discount')}"
            th:errors="*{discount}"
            class="text-danger"
          ></span>
        </div>

        <div class="col-sm-4">
          <label for="quantity" class="form-label">Quantity:</label>
          <input
            type="text"
            name="quantity"
            th:field="*{quantity}"
            class="form-control"
            id="quantity"
            placeholder="quantity"
          />
          <span
            th:if="${#fields.hasErrors('quantity')}"
            th:errors="*{quantity}"
            class="text-danger"
          ></span>
        </div>

        <div class="col-12">
          <label for="image" class="form-label">Book Cover:</label>
          <input
            type="url"
            name="image"
            th:field="*{image}"
            class="form-control"
            id="image"
            placeholder="image"
          />
          <span
            th:if="${#fields.hasErrors('image')}"
            th:errors="*{image}"
            class="text-danger"
          ></span>
        </div>
      </div>
      <hr />
      <div class="col-auto text-center my-3">
        <button class="btn btn-primary" type="submit">Update</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
          Discard
        </button>
      </div>
    </form>
  </div>
</div>
